
:root{
  --bgc-black: #202020;
  --c-white: #f5f5f5;
  --dot-bg: #10151D; 
  --dot-color: white;
  --dot-size: 1px;
  --dot-space: 50px;
  scroll-behavior: smooth;
}

html{
  background: var(--dot-bg);
  font-family: "JetBrains Mono", monospace, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

@font-face {
  font-family: 'Google Sans Display Regular';  /* you can name it whatever you want */
  src: url('fonts/Google Sans Display Regular/Google Sans Display Regular.ttf');  /* replace with your font's path and file name */
}
@font-face {
  font-family: 'Google Sans Text Regular';  /* you can name it whatever you want */
  src: url('fonts/OnlineWebFonts_COM_5c4fcd687637035e8854b4e9b94e727c/Google Sans Text Regular/Google Sans Text Regular.ttf');  /* replace with your font's path and file name */
}
h1 {
  font-family: 'Google Sans Display Regular', fallback, sans-serif;
}
p{
  font-family: 'Google Sans Text Regular', fallback, sans-serif;

}
/* Hero section */
.hero-section{
  /* background: url("../logo.svg"); */
  background-repeat:no-repeat;
  height: 70vh;
  background-position: center center;
  background-size:contain;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 5rem;
}

.bg-td{
  background-color: blue;
}
.heading {
  color: #eee;
  font-size: 2rem;
  font-weight: 300;
  text-transform: uppercase;
}

/* Body section */
body{
  background:
        linear-gradient(90deg, var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
        linear-gradient(var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
        var(--dot-color);
  animation: moveDots 500s linear infinite;
}

@keyframes moveDots {
  from {
    background-position: 0 100%, 0 100%;
  }
  to {
    background-position: 0 0, 0 0;
  }
  
}
.group:hover img {
  filter: grayscale(0);
}

.squiggly-arrow{
  display: inline-block;
  transform: rotate(90deg);
  font-family: "JetBrains Mono", monospace;
  font-size: 3rem;
  text-align: center;
}

.header {
  display: block;
  margin: 5rem auto;
  margin-bottom: 2rem;
  width: fit-content;
  font-weight: normal;
  font-size: 1.25rem;
}
.fancy-table {
  margin: 0 auto;
  width: fit-content;
  font-size: 3rem;
  font-weight: 700;
  border-collapse: collapse;
  user-select: none;
}

.fancy-table td {
  /* background-color: var(--dot-bg); */
  width: 5rem;
  height: 6rem;
  text-align: center;
  border: 3px solid #3a3a5a;
  color: #3a3a5a;
}

.fancy-table td.hide {
  border: none;
}

.fancy-table td.active {
  color: #aaa;
}

.fancy-table td.table-text-red {
  color: #f00;
}

.fancy-table td.table-text-green {
  color: #0f0;
}

.fancy-table td.table-text-blue {
  color: #00f;
}
/* Mobile Style for Hero Section */
@media screen and (max-width: 600px) {
  .fancy-table {
    margin: 24px;
    font-size: 1.5rem;
  }

  .fancy-table td {
    width: 2.5rem;
    height: 3rem;
  }
}
/* Tablet Style for Hero Section */
@media screen and (min-width: 601px) and (max-width: 1024px) {
  .fancy-table {
    margin: 16px;
    font-size: 2rem; 
  }

  .fancy-table td {
    width: 3rem; 
    height: 4rem;
  }
}
